{%extends 'auth_app/base.html'%}

{%block body_block %}
<div class="jumbotron">


<div class="container">
  <h1>welcome to write your favourite exams</h1>
  <h2>please read all the information before start the exam:</h2>
  <ul>
    <li>rule1: all fields are mendatory</li>
    <li>rule1: all answer must be same are mendatory</li>
    <li>rule1: all good must be same are mendatory</li>
    <li>rule1: all pray must be same are mendatory</li>
    <li>rule1: all know your aukat are mendatory</li>
  </ul>


</div>
</div>

{% endblock %}
